.container-fluid{
  padding:0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.black{
  background: #000000;
  color: #ffffff;
}
.black2{
  background: #000000;
  color: #ffffff;
}
.black, .white{
  height:100vh;
  padding-top: 40vh;
}

.black2, .white2{
  height:100vh;
  padding-top: 40vh;
}

.nextbtn{
  text-decoration: none;
  color: #000000;
  font-size: 15pt;
}

.backbutton{
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-size: 15pt;
}

.backbutton.btn:active{
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-size: 15pt;
}


.q1 textarea, .q2 textarea{
  border: 0px;
  border-bottom: 2px solid #000000;
  resize: none;
  margin-bottom: 20px;

}

.filter{
  background: white;
  color: black;
}

.black .label{
  background-color: white;
  color: black;
}

.mySlides{
  width: 100vw;
  top:40px;
  left:0px;
  position: absolute;
}

.slide{
  width:100vw;
}

.mySlides h1, .mySlides p{
  position: absolute;
  color: white;
  padding:10px;
}

.prompt{
  margin-bottom: 20px;
}

.red{
  background: red;
}
/*camera styling*/
#output{
  width:50%;

}
.button3{
  opacity: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}
.c3{
  position: absolute;
}
#cameraButton{
  opacity: 0;
}
label {
  display: inline-block;
  width: 5em;
  padding: 0 1em;
  text-align: right;
}
/* Hide the file input using
opacity */
[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
input,
[type=file] + label {
  border: 1px solid #CCC;
  border-radius: 4px;
  text-align: left;
  padding: 10px;
  width: 150px;
  margin: 0;
  left: 0;
  position: relative;
}
[type=file] + label {
  text-align: center;
  /*left: 7.35em;
  top: 0.5em;*/
  position: absolute;
  margin: auto;

  /* Decorative */
  background: transparent;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
[type=file] + label:hover {
  background: grey;
}
